#MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

#MongoDB
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=

# Mongo Express (DEV ONLY)
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASS=

# Symfony
APP_SECRET=
CORS_ALLOW_ORIGIN=^http://localhost:5173$
GOOGLE_BOOKS_API_KEY=

# JWT
JWT_PASSPHRASE=