services:

  # Service name : identify in Compose + allows other services to reach it
  dbsql:
    # Official image + tag
    image: mysql:8.4
    container_name: readquest-mysql
    restart: unless-stopped

    # send environment variables to the container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

    ports:
       # port in the container : port on the PC.
       # If everything stays "in Docker" (Symfony + phpMyAdmin in containers), you can remove the ports
       - "127.0.0.1:3307:3306"

    # Volume name in container + location of the data in the container
    volumes:
       - mysql_data:/var/lib/mysql

      # Verification
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

  dbmongo:

    image: mongo:8.0
    container_name: readquest-mongodb
    restart: unless-stopped

    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}

    ports:
      # Bind to localhost only (security)
      - "127.0.0.1:27017:27017"
    
    volumes:
      - mongodb_data:/data/db

  frontend:
    image: node:20-alpine
    container_name: readquest-node
    working_dir: /app

    ports:
      - "5173:5173"

    volumes:
      - ./frontend:/app
      - /app/node_modules

    environment:
      - NODE_ENV=development
      - VITE_HOST=0.0.0.0

    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

    restart: unless-stopped

    depends_on:
      dbsql:
         condition: service_healthy

volumes:
  # Named Docker volume (default settings) to persist MySQL data
  mysql_data:
  mongodb_data:

