###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=une_cle_aleatoire_ici
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# On utilise le nom du service Docker "dbsql" défini dans ton docker-compose
DATABASE_URL=
###< doctrine/doctrine-bundle ###

DEFAULT_URI=http://localhost:xxxx

CORS_ALLOW_ORIGIN=

JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
JWT_PASSPHRASE=